<h1>Login</h1>
<p>New to this site? Go to the <a href="/auth/signup"> sign up page</a> instead.</p>

<div class="row">
	<form class="col s12" methond ="POST" action="/auth/login">

		<div class="row">
			<div class="input-field col s12">
				<input placeholder="Your email" id="email" name="email" type="text" class="validate">
				<label for ="email">Email</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<input placeholder="Password" id="[asswprd]" name="password" type="password" class="validate">
				<label for ="password">Password</label>
			</div>
		</div>


	</form>