<h1 class="">Admin: <%= user.firstname %></h1>
<hr>

<h4> TODO: Content management </h4>
<ul>
	<li>View most recent post</li>
	<li>show featured posts</li>
	<li>List posts</li>
	<li>list most recent sign ups</li>
	

</ul><br>
<h4> TODO: Inventory management </h4>

<ul>
	<li>
		<a class="waves-effect waves-light grey darken-3 btn" href="/merch/new">Add New Merch Item
			<i class="material-icons right">add_circle_outline</i>
		</a>
		<a class="waves-effect waves-light grey darken-3 btn" href="/merch/inventory">Manage Inventory
			<i class="material-icons right">filter_none</i>
		</a>
	</li>
	<li>View most recent order</li>
	<li>List orders</li>
	<li>show low stock</li>
	<li>inventory overview</li>

</ul>

<h4> TODO: User management </h4>

<ul>
	<li>View latest members </li>
	<li>change admin / member status</li>