<h1 class="">Admin: <%= user.firstname %></h1>
<hr>

<h4> TODO: content management </h4>
<ul>
	<li>View most recent post</li>
	<li>show featured posts</li>
	<li>List posts</li>
	<li>list most recent sign ups</li>
	

</ul><br>
<h4> TODO: inventory management </h4>
<ul>
	<li>View most recent order</li>
	<li>List orders</li>
	<li>show low stock</li>
	<li>inventory overview</li>

</ul>