        <footer class="page-footer black">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Soldiers of Destiny Scooter Club | Seattle, WA</h5>
                <p class="grey-text text-lighten-4"><em>Seattle's token idiots.</em></p>
              </div>
              <div class="col l4 offset-l2 s12">
                <!-- <h5 class="white-text">Follow us on Social Media:</h5> -->
                <ul>
                  <li><a class="grey-text text-lighten-3" href="http://www.instagram.com/soldiersofdestiny"><img src="/img/instagram.png"> @soldiersofdestiny</a></li>
                  <li><a class="grey-text text-lighten-3" href="http://www.twitter.com/sod_sc"><img src="/img/twitter.png"> @sod_sc</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/sodsc/"><img src="/img/fb.png"> /sodsc</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2019 Copyright Text
            </div>
          </div>
        </footer>