  <nav>
    <div class="nav-wrapper black">
      <a href="/" class="brand-logo"><img src="/img/logo_nav.png"></a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/merch">Merch</a></li>
        <li><a href="/content/1">About</a></li>
        <li><a href="/content">News</a></li>
        <li><a href="/content/2">Big Hearts & Backpacks</a></li>
        <li><a href="http://slowridehome.com/">Slow Ride Home</a></li>        
        <li>|</li>
        <% if(!user) { %>
          <li><a href="/auth/login">Log In</a></li>
          <li><a href="/auth/signup">Sign Up</a></li>
        <% } else { %>
          <li><a href="/profile"><%= user.firstname %></a></li>
          <% if(user.admin) { %>
            <li><a href="/profile/admin">Admin</a></li>
          <% } %>
          
          <li><a href="/auth/logout">Logout</a></li>
        <% } %>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
        <li><a href="/about">About</a></li>
        <li><a href="/news">News</a></li>
        <li><a href="/BHBP">Big Hearts & Backpacks</a></li>
        <li><a href="http://slowridehome.com/">Slow Ride Home</a></li>
        <li><a href="/merch">Merch</a></li>
    <% if(!user) { %>
      <li><a href="/auth/login">Log In</a></li>
      <li><a href="/auth/signup">Sign Up</a></li>
    <% } else { %>
      <li><a href="/profile">Hey, <%= user.firstname %></a></li>
      <% if(user.admin) { %>
        <li><a href="/profile/admin">Admin</a></li>
      <% } %>
      <li><a href="/auth/logout">Logout</a></li>
    <% } %>
  </ul>
