<!-- display all news / upcoming stuff -->
<div class="row">
	<div class="col sm-12">
		<% content.forEach((c)=>{%>
			<div class="row">
				<div class="col sm-12">
					<h1><%= c.title %></h1>
					<small><%=c.description%></small>
				</div>
			</div>
		<%})%>
	</div>
</div>