<!-- gallery view of the store -->
<h1>Merch Store</h1>
  <div class="row">
<% merch.forEach((merch)=> { %>
	<% if (merch.active == true){%>
	    <div class="col s12 m4 xl3">
	      <a href="">
	      <div class="card">
	        <div class="card-image">
	          
			    <!-- img_1 is required -->
			    <a class="carousel-item" href="/merch/<%=merch.id%>"><img src="<%= merch.img_1 %>"></a>
			    
			    
			  
	        </div>
	        <div class="card-content">
	        	<span class="card-title"><strong><%= merch.item %></strong></span>
	         
	        </div>
	      </div>
	    </a>
	    </div>
	 <%}%>
  <%})%>
    </div>