<div class="row">
  <div class="col s12">
    <h1>Create Merch Item</h1>
  </div>
</div>


 <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input id="item_name" type="text" class="validate">
          <label for="item_name">Item Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="category" type="text" class="validate">
          <label for="category">Category</label>
        </div>
        <div class="input-field col s6">
          <input id="collection" type="text" class="validate">
          <label for="collection">Collection</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s4">
            <input id="img_1" name="pre_order" type="url" class="validate" >
            <label for="pre_order">Image URL</label>
          </div>
          <div class="input-field col s4">
            <input id="img_2" name="pre_order" type="url" >
            <label for="pre_order">Image URL</label>
          </div>
          <div class="input-field col s4">
            <input id="img_3" name="pre_order" type="url" >
            <label for="pre_order">Image URL</label>
          </div>
      </div>
      <div class="row">
          <div class="input-field col s12">
            <textarea id="textarea2" class="materialize-textarea" data-length="400"></textarea>
            <label for="textarea2">Textarea</label>
          </div>
      </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="pre_order" name="pre_order" type="text" placeholder="Enter release date">
            <label for="pre_order">Pre-Order?</label>
          </div>
        </div>
        <div class="row">
          <div class="col s4">
            <label>
              <input type="checkbox" />
              <span>Members Only</span>
            </label>
          </div>
          <div class="col s4">
            <label>
              <input type="checkbox" />
              <span>Active</span>
            </label>
          </div>
          <div class="col s4">
            <button class="btn waves-effect waves-light grey darken-3 right" type="submit">Create
              <i class="material-icons right">add_circle_outline</i>
            </button>
          </div>
        </div>
    </form>
  </div>