<!DOCTYPE html>
<html>
	<head>
		<title>Site</title>
		 <!--Import Google Icon Font-->
     	 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      	<!-- Compiled and minified CSS -->
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">  
    	<link rel="stylesheet" type="text/css" href="/style.css">
	</head>
	<body>
		<header>
			<title></title>
		</header>
		
		<% include ./partials/nav %>
		
		<div class="container">
			<% include ./partials/alerts%>
			<%- body %>
		</div>
		<!-- Compiled and minified JavaScript -->
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    	<script>  
    		document.addEventListener('DOMContentLoaded', function() {
    			var elems = document.querySelectorAll('.sidenav');
    			var instances = M.Sidenav.init(elems);
 			 });
		</script>
	</body>
</html>