<!DOCTYPE html>
<html>
	<head>
		<title>Site</title>
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>
	<body>
		<header>
			<title></title>
		</header>
		<nav>

		</nav>
		<main>
			<%- body %>
		</main>
	</body>
</html>